img {
    
    margin-right: 25px;
    max-height: 250px;
    max-width: 150px;
    width: auto;
    float: left;
}

.well {
    height: 300px;
}

.input-group {
    margin: 15px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
}

.dodaj {
    width: 100px;
    height: 100px;
    margin-right: 25%;
    border: 1px solid lightgray;
    border-radius: 100px;
    font-family: monospace;
}

.filmy {
    cursor: default;
}